<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app">

      <header>
        <div id="logo">
          BOOLFLIX
        </div>
        <div id="searched" v-if="query != ''">
          Risultati per: {{query}}
        </div>
        <div id="page-selector" v-if="totalPages > 1">
          <i class="fas fa-caret-left" @click="prevPage" v-if="page > 1"></i>
          pagina {{page}} di {{totalPages}}
          <i class="fas fa-caret-right" @click="nextPage" v-if="page < totalPages"></i>
        </div>
        <div id="searchbar">
          <input v-model="searchKey" type="text" @keypress.enter="searchFilm" placeholder="Search...">
          <button type="button" @click="searchFilm">SEARCH</button>
        </div>
      </header>

      <main>
        <div class="film" v-for="film in arrayFilm">

          <img :src='"https://image.tmdb.org/t/p/w342/" + film.poster_path' @error="replacePoster">

          <div v-if="film.type === 'movie'">
            <div>Titolo: {{film.title}}</div>
            <div>Titolo Originale: {{film.original_title}}</div>
          </div>
          <div v-if="film.type === 'tv'">
            <div>Titolo: {{film.name}}</div>
            <div>Titolo Originale: {{film.name}}</div>
          </div>

          <div class="film-language">
            Lingua: <img :src='"img/" + film.original_language + ".png"' :alt="film.original_language">
          </div>

          <div>
            Voto:
            <span v-for="(vote,i) in maxVote">
              <i class="fa-star" :class="i <= film.vote_average ? 'fas' : 'far'"></i>
            </span>
          </div>

        </div>
      </main>


    </div>
    <script src="js/script.js"></script>
  </body>
</html>
