<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app">

      <!-- Header -->
      <header>
        <div id="logo" @click="homePage">
          BOOLFLIX
        </div>
        <nav>
          <div @click="homePage">Home</div>
          <div>Serie TV</div>
          <div>Film</div>
          <div>La mia Lista</div>
          <div>Profilo</div>
        </nav>
        <div id="searchbar">
          <i class="fas fa-search" @click="searchFilm"></i>
          <input v-model="searchKey" type="text" @keypress.enter="searchFilm" placeholder="Cerca...">
        </div>
      </header>

      <!-- Results -->
      <div id="results">
        <div id="searched" v-if="query != ''">
          Risultati per:
          "<span>{{query.toUpperCase()}}</span>"
        </div>
        <div id="page-selector" v-if="totalPages > 1 && query != ''">
          <i class="fas fa-caret-left" @click="prevPage" v-if="page > 1"></i>
          pagina {{page}} di {{totalPages}}
          <i class="fas fa-caret-right" @click="nextPage" v-if="page < totalPages"></i>
        </div>
        <div id="home-page" v-if="query === ''">
          Benvenuto nella tua Home Page. Non sai cosa guardare? Ecco qualche consiglio:
        </div>
      </div>

      <!-- Main -->
      <main>
        <div class="film" v-for="film in arrayFilm">

          <!-- Film Poster-->
          <img :src='"https://image.tmdb.org/t/p/w342/" + film.poster_path' @error="replacePoster">

          <!-- Film Details -->
          <div class="film-details">
            <div v-if="film.type === 'movie'">
              <div>
                <span class="det-title">TITOLO: </span>
                {{film.title}}
              </div>
              <div class="movtv">
                <span class="det-title">TITOLO ORIGINALE: </span>
                {{film.original_title}}
              </div>
            </div>
            <div v-if="film.type === 'tv'">
              <div>
                <span class="det-title">TITOLO: </span>
                {{film.name}}
              </div>
              <div class="movtv">
                <span class="det-title movtv">TITOLO ORIGINALE: </span>
                {{film.name}}
              </div>
            </div>
            <div class="film-language">
              <span class="det-title">LINGUA:</span>
              <img :src='"img/" + film.original_language + ".png"' :alt="film.original_language">
            </div>
            <div>
              <span class="det-title">VOTO:</span>
              <span v-for="(vote,i) in maxVote">
                <i class="fa-star" :class="i <= film.vote_average ? 'fas' : 'far'"></i>
              </span>
            </div>
            <div>
              <span class="det-title">OVERVIEW:</span>
              {{film.overview}}
            </div>
          </div>

        </div>
      </main>


    </div>
    <script src="js/script.js"></script>
  </body>
</html>
